<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Policy Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Policy Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Policy Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Details</a>
      </li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> Policy List</h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/students/new}" class = "btn btn-primary btn-sm mb-3"> Add Policy</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Policy Number</th>
					<th> Company Code</th>
					<th> Inflation </th>
					<th> Rerate 2010 </th>
					<th> Rerate 2013 </th>
					<th> Rerate 2016 </th>
					<th> Rerate 2016-s </th>
					<th> Rerate 2019 </th>
					<th> Rerate 2010-s </th>
					<th> DRA </th>
					<th> CNFO </th>
					<th> ECNFO </th>
					<th> Shared Cost </th>
					<th> Stagered </th>
					<th> Extra Info </th>					
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "student: ${students}">
					<td th:text = "${student.policy}"></td>
					<td th:text = "${student.company}"></td>
					<td th:text = "${student.inflation}"></td>
					<td th:text = "${student.rerate_2010}"></td>
					<td th:text = "${student.rerate_2013}"></td>
					<td th:text = "${student.rerate_2013_supp}"></td>
					<td th:text = "${student.rerate_2016}"></td>
					<td th:text = "${student.rerate_2016_supp}"></td>
					<td th:text = "${student.rerate_2016}"></td>
					<td th:text = "${student.rerate_2019_supp}"></td>
					<td th:text = "${student.dra_eligible}"></td>
					<td th:text = "${student.cnfo_eligible}"></td>
					<td th:text = "${student.ecnfo_eligible}"></td>
					<td th:text = "${student.shared_cost_eligible}"></td>
					<td th:text = "${student.staggered}"></td>
								
					<td>
						<a th:href = "@{/students/edit/{id}(id=${student.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/students/{id}(id=${student.id})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>